import * as S from './styles'

type {{pascalCase name}}Props = {}

export const {{pascalCase name}} = ({}: {{pascalCase name}}Props) => (
  <S.Wrapper>
    <h1>{{pascalCase name}}</h1>
  </S.Wrapper>
)
